<!doctype html>
<html>
<head>
    <title>Task Exploder!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="static/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/taskexploder/style.css">

    <link rel="import" href="static/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="static/bower_components/paper-card/paper-card.html">
    <link rel="import" href="static/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="static/bower_components/iron-selector/iron-selector.html">
    <link rel="import" href="static/bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">
    <link rel="import" href="static/bower_components/paper-input/paper-input.html">
    <link rel="import" href="static/taskexploder/main-task.html">
    <link rel="import" href="static/taskexploder/task-element.html">
    <link rel="import" href="static/taskexploder/new-task.html">
    <link rel="import" href="static/taskexploder/subtasks.html">
    <script>
        window.onbeforeunload = function() {
            if (document.querySelectorAll('[syncing="1"]').length) {
                return "Your todo list has not finished synchronizing with the server.";    
            }
        }
    </script>
</head>
<body class="fullbleed layout vertical">
    <main-task title="{{account.username}}">
    </main-task>
    <sub-tasks></sub-tasks>
</body>
</html>